/* CSS file placeholder. */
body
{
  margin:0;
}

header,footer
{
  position:fixed;
  background-color:red;
  height:30pt;
}

header
{
  top:0;
  left:0;
  right:0;
}

footer
{
  bottom:0;
  left:0;
  right:0;
}

section
{
  padding:10pt;
}

.content
{
  margin-top:30pt;
  margin-bottom:30pt;
}